@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.5rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.5rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.grid-table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.grid-table-head {
    background-color: rgb(136, 108, 144);
    color: whitesmoke;
    font-size: 0.9rem;
    text-align: center;
    padding: 4px 56px 4px 24px;
}

.grid-table-row {
    color: inherit;
    height: 35px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}


.grid-table-cell {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
    font-weight: 400;
    text-align: right;
    flex-direction: row-reverse;
}


.grid.table-cell-head {
    color: whitesmoke;
    font-weight: 500;
}

.grid-table-head-row {
    height: 40px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}
.card-header {
    background-color: #160e60;
    color: whitesmoke;
    font-size: 1.3rem;
}

.latest-block-highlight {
    color: #fff;
    float: left;
    text-align: center;
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #8c8cce;
    margin: 7px 13px 0 0;
    padding: 7px 10px 4px;
    /*background: gray;*/
    width: 155px;
    height: 85px;
    margin-top: 2px;
}

.latest-block {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 2px;
}
