<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="images/logo192x192t.png" width="50" height="50" />Nethereum Blazor</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="oi oi-people" aria-hidden="true"></span> Accounts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="etherTransfer">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Transfer Ether
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="erc20Transfer">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Transfer ERC20
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span>About
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/Nethereum" target="_blank">
                <span class="oi oi-terminal" aria-hidden="true"></span>Github
            </NavLink>
        </li>
    </ul>
    
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
