@using Microsoft.AspNetCore.Components
@using NethereumExplorer.Services
@using NethereumExplorer.ViewModels
@using ReactiveUI
@using System.Reactive.Linq
@using System.Reactive.Threading.Tasks
@inherits LayoutComponentBase
@inject NewBlockProcessingService NewBlockProcessingService
@inject Web3UrlViewModel Web3UrlViewModel
@inject NavigationManager NavigationManager

<div class="sidebar">
        <NavMenu/>
    </div>
    <div class="main">
        <nav class="navbar navbar-light bg-light">
            <div class="form-inline">

                <select class="form-control mr-sm-2" @onchange="UrlChange">
                    <option value="https://mainnet.infura.io/v3/7238211010344719ad14a89db874158c" selected>https://mainnet.infura.io</option>
                    <option value="https://mainnet.optimism.io">https://mainnet.optimism.io</option>
                    <option value="https://kovan.infura.io/v3/7238211010344719ad14a89db874158c">https://kovan.infura.io</option>
                    <option value="https://ropsten.infura.io/v3/7238211010344719ad14a89db874158c">https://ropsten.infura.io</option>
                    <option value="https://rinkeby.infura.io/v3/7238211010344719ad14a89db874158c">https://rinkeby.infura.io</option>
                    <option value="http://127.0.0.1:8545">http://127.0.0.1:8545</option>
                    <option value="https://kovan.optimism.io">https://kovan.optimism.io</option>
                </select>
                <input type="text" class="form-control mr-sm-2" @bind="Web3UrlViewModel.Url" placeholder="Chain Url"/>

                @if (QueryError)
                {

                    <input class="form-control is-invalid mr-sm-2" type="search" placeholder="Search Block, Txn Hash" @bind="Query" aria-label="Search" required/>

                }
                else
                {
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Block, Txn Hash" @bind="Query" aria-label="Search" required/>

                }
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" @onclick="SearchBlockchain">Search</button>

            </div>

        </nav>

        <div class="content px-4">
            @Body
        </div>

        <Toasts/>
    </div>


@code
{

    public string Query { get; set; }
    public bool QueryError { get; set; } = false;

    protected override void OnInitialized()
    {
        Web3UrlViewModel.Url = "https://mainnet.infura.io/v3/7238211010344719ad14a89db874158c";
        NewBlockProcessingService.WhenAnyValue(x => x.Loading).SubscribeAndNotifyStateChanges(InvokeAsync, StateHasChanged);
    }



    public void SearchBlockchain()
    {
        Query = Query.Trim();
        var searchType = SearchQueryParser.InferSearchType(Query);

        switch (searchType)
        {
            case SearchType.Block:
                {

                    NavigationManager.NavigateTo("block/" + Query);
                    QueryError = false;
                    break;
                }
            case SearchType.Transaction:
                {
                    NavigationManager.NavigateTo("/transaction/" + Query);
                    QueryError = false;
                    break;
                }
            default:
                QueryError = true;
                break;
        }

    }

    protected void UrlChange(ChangeEventArgs urlChangeEventArgs)
    {
        Web3UrlViewModel.Url = (string)urlChangeEventArgs.Value;
    }
}
