@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #FFFAFB
}


.table-head {
    background-color: #5E6057;
    color: whitesmoke;
    padding: 4px 56px 4px 24px;
}

.table-row {
    color: inherit;
    height: 35px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}


.table-cell {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
    font-weight: 400;
    text-align: left;
    flex-direction: row-reverse;
}


.table-cell-head {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
}

.table-head-row {
    height: 40px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}


.card-header {
    background-color: #4E5656;
    color: whitesmoke;
    font-size: 1.3rem;
}

.latest-block-highlight {
    color: #fff;
    float: left;
    text-align: center;
    background-color: #5E6057;
    margin: 7px 13px 0 0;
    padding: 7px 10px 4px;
    width: 155px;
    height: 85px;
    margin-top: 2px;
}

.latest-block {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 2px;
}
